* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #2d2d2d;
    -webkit-user-select: none;
}

body {
    margin: 0;
}

input {
    border: none;
    width: 90%;
    font-size: 16px;
    box-sizing: border-box;
}

li {
    padding-bottom: 8px;
    width: 100%;
}

button {
    border: none;
    text-align: center;
    transition-duration: 0.4s;
    font-size: 16px;
}

button:hover {
    background-color: white;
    color: black;
}

.flex-container {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 20px;
    overflow-y: auto;
    color: darkgray;
}

.list {
    padding: 0px 50px;
}

.emptyMsg {
    color: darkgray;
}

/* Windows titlebar related styling, from https://github.com/binaryfunt/electron-seamless-titlebar-tutorial */
.titlebar {
    -webkit-app-region: drag;
    display: block;
    position: fixed;
    height: 32px;
    width: 100%;
}

#window-controls {
    -webkit-app-region: no-drag;
    display: none;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: 'Segoe MDL2 Assets', 'Segoe UI Symbol';
    font-size: 10px;
    user-select: none;
    cursor: default;
    color: #bbb;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#window-controls .button:hover {
    background: rgba(255,255,255,0.2);
    color: #fff;
}

#window-controls #close-button:hover {
    background: #e81123;
}

#window-controls #restore-button {
    display: none;
}
